<!--
BANG MAU NGAPAIN?🤔
JANGAN NIRU YA BANGG,PLEASSEEEE
GW CAPEK 🤡
-->


<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Rest API - Kimimaru</title>
<link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.33.1/sweetalert2.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.33.1/sweetalert2.min.js"></script>
</head>

<body id="page-top">
  <div id="wrapper">
    <!-- Sidebar -->
    <ul class="navbar-nav sidebar sidebar-light accordion" id="accordionSidebar">
      <a class="sidebar-brand d-flex align-items-center justify-content-center" href="https://api-kimimaru.herokuapp.com">
        <div class="sidebar-brand-icon">
        	<img src="https://i.ibb.co/3YhqpbJ/50a3f0a41bba97ad8395f1f55d48e904.jpg">
        </div>
        <div class="sidebar-brand-text mx-3">Kimimaru</div>
      </a>
      <hr class="sidebar-divider">
      <div class="sidebar-heading" style="color: black">
        API Features
      </div>
      <li class="nav-item">
        <a class="nav-link" href="/docs/downloader">
          <i class="fas fa-download"></i>
          <span style="color: black">Downloader</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/docs/stalk">
          <i class="fas fa-fw fa-marker"></i>
          <span style="color: black">Stalker</span>
        </a>
      </li>
     <li class="nav-item">
        <a class="nav-link" href="/docs/islamic">
          <i class="fas fa-star-and-crescent"></i>
          <span style="color: black">Islamic</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/docs/music">
          <i class="fas fa-music"></i>
          <span style="color: black">Music</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/docs/wallpaper">
          <i class="fa fa-fw fa-image"></i>
          <span style="color: black">Wallpaper</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/docs/asupan">
          <i class="fas fa-video"></i>
          <span style="color: black">Asupan</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/docs/cecan">
          <i class="fas fa-fw fa-images"></i>
          <span style="color: black">Cecan</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/docs/textpro">
          <i class="fas fa-clipboard"></i>
          <span style="color: black">Textpro me</span>
        </a>
      </li>
            <li class="nav-item">
        <a class="nav-link" href="/docs/randomtext">
          <i class="fas fa-fw fa-italic"></i>
          <span style="color: black">Random Text</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/docs/anime">
          <i class="fas fa-newspaper"></i>
          <span style="color: black">Anime</span>
        </a>
      </li>
            <li class="nav-item">
        <a class="nav-link" href="/docs/game">
          <i class="fas fa-fw fa-gamepad"></i>
          <span style="color: black">Game</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/docs/tools">
          <i class="fas fa-compass"></i>
          <span style="color: black">Tools</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/docs/info">
          <i class="fas fa-fw fa-info"></i>
          <span style="color: black">Information</span>
        </a>
      </li>
      <hr class="sidebar-divider">
      <div class="sidebar-heading">
<div class="version"><b>Contact me</b></div>
      </div>
      <li class="nav-item">
            <a class="nav-link collapsed" href="https://wa.me/6285752765133">
            <i class="fab fa-fw fa-whatsapp"></i>
                    <span style="color: black">WhatsApp</span>
            </a>
      </li>
      <hr class="sidebar-divider">
      <div class="version"><b>Made With ♥️ By Kimimaru</b></div>
    </ul>
    <!-- Sidebar -->
<div id="content-wrapper" class="d-flex flex-column">
<div id="content">
  <!-- TopBar -->
  <nav class="navbar navbar-expand navbar-light bg-navbar topbar mb-4 static-top">
    <button id="sidebarToggleTop" class="btn btn-link rounded-circle mr-3">
<i class="fa fa-bars"></i>
    </button>
    <ul class="navbar-nav ml-auto">
<li class="nav-item dropdown no-arrow">
  
  </a>
  <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
    aria-labelledby="searchDropdown">
    <form class="navbar-search">
<div class="input-group">
  <input type="text" class="form-control bg-light border-1 small" placeholder="Search for..."
    aria-label="Search" aria-describedby="basic-addon2" style="border-color: #3f51b5;">
  <div class="input-group-append">
    <button class="btn btn-primary" type="button">
<i class="fas fa-search fa-sm"></i>
    </button>
  </div>
</div>
    </form>
  </div>
</li> 
<li class="nav-item dropdown no-arrow mx-1">
  <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button" data-toggle="dropdown"
    aria-haspopup="true" aria-expanded="false">
  </a>
  <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
    aria-labelledby="messagesDropdown">
  </div>
</li>
<div class="topbar-divider d-none d-sm-block"></div>
<li class="nav-item dropdown no-arrow">
  <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown"
    aria-haspopup="true" aria-expanded="false">
    <img class="img-profile rounded-circle" src="https://i.ibb.co/3YhqpbJ/50a3f0a41bba97ad8395f1f55d48e904.jpg" style="max-width: 60px">
    <span class="ml-2 d-none d-lg-inline text-white small">Kimimaru</span>
  </a>
  </div>
</li>
    </ul>
  <!-- Container Fluid-->
  <div class="container-fluid" id="container-wrapper">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
 <h1 class="text-xs font-weight-bold text-uppercase text-center mb-1">Rest APIs - Kimimaru</h1>
<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="/">Home</a></li>
  <li class="breadcrumb-item active" aria-current="page">Beranda</li>
</ol>
    </div>
<div class="col-lg-6">
 <div class="card mb-4" style="border: 2px solid black">
  <div class="card-header py-3">
   <div class="card-body">
    <div class="row align-item-center">
     <div id="demo" class="alert alert-info alert-dismissible" role="alert">
<div id="Statistic"></div>
 <span id="tgl">00</span> - <span id="bln">00</span> - <span id="thn"></span>
</div>
     </div>
    </div>
   </div> 
  </div>
 </div>
<div class="col-xl-3 col-md-6 mb-4">
  <div class="card h-100">
    <div class="card-body" style="border: 2px solid black">
<div class="row align-items-center">
  <div class="col mr-2">
    <div class="text-xs font-weight-bold text-uppercase mb-1">Visitor Count</div>
    <br>
    <div class="h5 mb-0 font-weight-bold text-gray-800" id="visits">00</div>
  </div>
  <div class="col-auto">
    <i class="fas fa-eye fa-2x text-primary"></i>
  </div>
</div>
    </div>
  </div>
</div>
  <!---Container Fluid-->
<!-- Footer -->
          <div class="col-xl-3 col-md-6 mb-4">
              <div class="card" style="border: 2px solid black">
                <div class="card-body h-100">
                  <div class="row no-gutters">
                    <div class="col mr-2">
<div class="m-0 font-weight-bold text-uppercase mb-1">Jam</div>
<div class="small font-weight-bold text-gray-600" id="Clock">Waiting...</div>
                    </div>
                    <div class="col-auto">
<i class="fas fa-clock fa-2x text-primary"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
<div class="col-xl-3 col-md-6 mb-4">
              <div class="card" style="border: 2px solid black">
                <div class="card-body h-100">
                  <div class="row no-gutters">
                    <div class="col mr-2">
<div class="m-0 font-weight-bold text-uppercase mb-1">Baterai</div>
<div class="small font-weight-bold text-gray-600" id="level-battery">Waiting...</div>
<br />
<div class="small font-weight-bold text-gray-600" id="charging-battery"></div>
                    </div>
                    <div class="col-auto">
<i class="fas fa-battery-full fa-2x text-primary"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
     <form action="/api/cekapikey" >
<div class="col-xl-3 col-md-6 mb-4">
  <div class="card h-100">
    <div class="card-body" style="border: 2px solid black">
<div class="row align-items-center">
  <div class="col mr-2">
     <div class="h6 mb-0 font-weight-bold text-dark-800 text-uppercase">
    <h6 class="text-center">[+] Cek Apikey [+]</h6>
    </div>
     <input type="password" class="form-control" placeholder="Check Your apikey" name="apikey" required=""><br>
<button class="btn btn-danger btn-icon-split">
 <span class="icon text-white-50">
  <i class="fas fa-check"></i>
 </span>
 <span class="text">Check</span>
</button>
   </div>
  </div>
 </div>
</div>
     </div>
</form>

          <div class="col-xl-3 col-md-6 mb-4">
              <div class="card" style="border: 2px solid black">
                <div class="card-header">
                  <div class="m-0 font-weight-bold text-uppercase mb-1">THANKS TO :</div>
                </div>
                <div class="card-body h-100">
                  <div class="row no-gutters">
                    <ul>
<li class="small font-weight-bold text-gray-600">Allah SWT.</li>
<li class="small font-weight-bold text-gray-600">My parents</li>
<li class="small font-weight-bold text-gray-600">Zahirr</li>
<li class="small font-weight-bold text-gray-600">DhaniGans</li>
<li class="small font-weight-bold text-gray-600">Zainudin Anggara</li>
<li class="small font-weight-bold text-gray-600">M.Jamil</li>
<li class="small font-weight-bold text-gray-600">Reysekha</li> 
<li class="small font-weight-bold text-gray-600">Fxc7 Team</li> 
<li class="small font-weight-bold text-gray-600">
  Dan kalian semua yang telah menggunakan web dengan bijak dan selalu mendukung saya.
                     </li>
                   </ul>
                  </div>
                </div>
              </div>
            </div>
            
          
       
  <div class="container my-auto">
    <div class="copyright text-center my-auto">
<span>Copyright &copy; 2022 - Developed By
  <b>Kimimaru</b>
</span>
    </div>
  </div>
</div>
</footer>
<!-- Footer -->
    </div>
  </div>
  <!-- Scroll to top -->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>
    <script>
      window.onload = function () {
      function updateBatteryStatus(battery) {
        document.querySelector('#charging-battery').textContent = battery.charging ?  'proses pengisian ⚡': 'tidak pengisian ❌';
        console.log("Battery charging? "+ (battery.charging ? "Yes" : "No"));
        document.querySelector("#level-battery").textContent = `Baterai : ${(battery.level * 100).toFixed(0)}`+"%";
      }
      navigator.getBattery().then(function(battery){
        updateBatteryStatus(battery)
        battery.onchargingchange = function () {
          updateBatteryStatus(battery)
        }
        battery.onlevelchange = function () {
          updateBatteryStatus(battery)
        }
        battery.ondischargingtimechange = function () {
          updateBatteryStatus(battery)
        }
      })
    }
    
      window.setTimeout("waktu()", 1000);
	function waktu() {
		var d = new Date();
  const jam = d.getHours();
  const menit = d.getMinutes();
  const detik = d.getSeconds();
		setTimeout("waktu()", 1000);
		document.getElementById("Clock").innerHTML = jam +" : "+ menit +" : "+ detik +" WIB";
	}
	</script>
	    <script>
      swal({
        title: 'Jangan Ditembak Bang :(',
        text: 'Hargai Karya Orang Selagi Itu Tidak Merugikanmu~',
        imageUrl: 'https://i.ibb.co/0cjhPSp/Photo-1798659423.jpg',
        imageWidth: 200,
        imageHeight: 200,
        imageAlt: 'Kimimaru',
        animation: true
      })
    </script>
  <script async src="https://api.countapi.xyz/hit/api-fxc7.herokuapp.com/visits?callback=cb"></script>
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
  <script src="js/ruang-admin.js"></script>
  <script src="vendor/chart.js/Chart.min.js"></script>
  <script src="js/demo/chart-area-demo.js"></script>  
  
</body>
</html>
